html {
  font-family: "Fredoka One", sans-serif;
}

main {
  background:
    repeating-linear-gradient(
      -30deg,
      #b3fbff,
      #c9fcff 20px,
      #d4fdff 20px);
}

.title {
  color: #990073;
  transform: rotate(-10deg);
}

p, a {
  color: #c09;
  text-decoration: none;
}

p {
  max-width: 19em;
  transform: rotate(-5deg);
}

.title, p {
  text-shadow: 2px 2px 2px rgba(0, 0, 0, .3);
}

.btn-ghost {
  border-color: #990073;
}

.btn-ghost:hover {
  border-color: #990073;
}

.text-box {
  transform-origin: left center;
  padding-left: 6%;
}

.text-box:hover {
  animation: fade-in 6s linear;
}
@@keyframes fade-in {

  start {
    opacity: 0%;
  }

  end {
    opacity: 100%;
  }

}
